<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Appointment_System.My.MySettings.appointmentdbConnectionString"
            connectionString="Data Source=DESKTOP-KK0IOH7\MSSQLSERVER2022;Initial Catalog=appointmentdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>